# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master


jobs:
  - job: "ubuntu"
    pool:
      vmImage: 'ubuntu-latest'
    steps:
      - script: |
          printenv
        displayName: 'Get environment variables'
  - job: "windows"
    pool:
      vmImage: 'windows-latest'
    steps:
      - powershell: |
          ls env:\
        displayName: 'Get environment variables'
